In [2]:
!pip install pandas

Collecting pandas
  Using cached pandas-1.1.3-cp38-cp38-win_amd64.whl (8.9 MB)
Collecting numpy>=1.15.4
  Downloading numpy-1.19.3-cp38-cp38-win_amd64.whl (13.3 MB)
Collecting pytz>=2017.2
  Using cached pytz-2020.1-py2.py3-none-any.whl (510 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\edu\project\venv\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\edu\project\venv\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.19.3 pandas-1.1.3 pytz-2020.1

pandas를 통해서 html페이지에서 table 태그 데이터 가져오기

In [12]:
import pandas as pd

url = 'https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page=1'

tables = pd.read_html(url,encoding='euc-kr')
print(type(tables))
print(len(tables))

tables[2]

<class 'list'>
3

   0   1   2   3   4   5   6   7   8   9   10  11
0   1   2   3   4   5   6   7   8   9  10  다음  맨뒤

requests, bs4 라이브러리를 이용하여 데이터 불러오고 정제하기

In [4]:
import csv
import requests
from bs4 import BeautifulSoup

requests.packages.urllib3.disable_warnings(requests.packages.urllib3.exceptions.InsecureRequestWarning) # 경고창 뜨지 않게함
url = 'https://finance.naver.com/sise/sise_market_sum.nhn?sosok=0&page='

filename = '시가총액1-200.csv'
f = open(filename, 'w', encoding='utf-8-sig',newline='')
writer = csv.writer(f)

title = 'N	종목명	현재가	전일비	등락률	액면가	시가총액	상장주식수	외국인비율	거래량	PER	ROE'.split()
writer.writerow(title)
print(type(title))

for page in range(1,5):
    res = requests.get(url + str(page),verify=False)
    res.raise_for_status()
    soup = BeautifulSoup(res.text, 'lxml')
    
    data_rows = soup.find('table', attrs={'class':'type_2'}).find('tbody').find_all('tr')
    
    for row in data_rows:
        columns = row.find_all('td')
        if len(columns) <= 1: # 의미 없는 데이터는 skip
            continue
        data = [column.get_text().strip() for column in columns]
#         print(data)
        writer.writerow(data)

<class 'list'>

['50',
 'LG유플러스',
 '11,300',
 '350',
 '-3.00%',
 '5,000',
 '49,337',
 '436,611',
 '31.45',
 '965,892',
 '9.87',
 '6.30',
 '']

N	종목명	현재가	전일비	등락률	액면가	시가총액	상장주식수	외국인비율	거래량	PER	ROE	토론실

['N',
 '종목명',
 '현재가',
 '전일비',
 '등락률',
 '액면가',
 '시가총액',
 '상장주식수',
 '외국인비율',
 '거래량',
 'PER',
 'ROE',
 '토론실']